.header-countries {
  max-height: 100px;
  padding: 5px;
}

img {
  border-radius: 28px;
}

.world {
  width: 150px;
  background-color: var(--primary);
}

.map {
  width: auto;
  height: 50px;
  background-color: #8d86c9;
}

.title {
  font-size: 38px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #ffff;
  font-style: initial;
  text-align: center;
}

.stats {
  padding: 5px;
}

.search-input {
  margin: 0 5px;
  padding: 0 5px;
  border-radius: 5px;
}
