.card {
  background: #242038;
  padding: 5px;
  position: relative;
  text-align: center;
  height: 100%;
}

.card:hover {
  border: 1px solid var(--terciary);
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
  z-index: 1;
}

.fa-circle-right {
  font-weight: 100;
  position: absolute;
  right: 10px;
  top: 10px;
}
